*,
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
}

.shows-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
}

.show {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  width: 150px;
  padding-top: 2px;
  padding-bottom: 2px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

/* ------------------------------------------------------MEDIA LIBRARIES--------- */

@media only screen and (min-width: 768px) {
  .shows-container {
    grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
  }

  .show {
    width: 325px;
  }
}
