@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*,
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  font-family: 'Lato', sans-serif;
}

.list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
}

.list li:nth-child(odd) {
  background: #ff6c73;
}

.list li:nth-child(even) {
  background: #ff545b;
}

/* ------------------------------------------------------MEDIA LIBRARIES--------- */

@media only screen and (min-width: 768px) {
  .list {
    grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
  }

  .item {
    width: 325px;
  }
}
